.page-template-blog, .page-template-podcasts, .page-template-one-sheets, .page-template-videos{
    background: $beige;
    .blog{
        background: $beige;
        padding-bottom: 50px;
        .blog-thumbnail{
            img{
                width: 100%;
            }
        }
        .blog-post{
            margin-bottom: 25px;
            .large-9{
                background: white;
                .blog-excerpt{
                   
                    @include breakpoint(small){
                        padding: 15px;
                    }
                    @include breakpoint(medium){
                        
                    }
                    @include breakpoint(large){
                        padding: 50px;
                    }
                   .link{
                    font-family: 'Urbanist';
                    @include breakpoint(small){
                        
                    }
                    @include breakpoint(medium){
                        
                    }
                    @include breakpoint(large){
                        font-size: 34px;
                    }
                   }
                }
            }

        }
    }
}
.page-template-one-sheets{
    .blog{
        margin:50px 0;
        overflow: visible;
        .blog-thumbnail{
            img{
                width: auto;
                @include breakpoint(small){
                    position: relative;
                    left: 50%;
                    transform: translate(-50%, -75px)
                }
                @include breakpoint(medium){
                    
                }
                @include breakpoint(large){
                    height: 375px;
                    position: absolute;;

                }
            }
        }
        .blog-post{
            background: white;
            position: relative;
            margin-bottom: 100px;
            .large-3{
                position: relative;
            }
            h3{
                @include breakpoint(small){
                    
                }
                @include breakpoint(medium){
                    
                }
                @include breakpoint(large){
                    font-size: 45px;
                }
            }
            .link{
                @include breakpoint(small){
                    
                }
                @include breakpoint(medium){
                    
                }
                @include breakpoint(large){
                    font-size: 22px !important;
                }
            }
        }
    }
}
.page-template-videos{
    .large-6{
        background: white;
        margin-bottom: 50px;
        padding: 15px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        h5{
            color: $blue-light;
            font-weight: bold;
            line-height: 1.2;
        }
    }
}
.single-blog{
    .main{
        padding: 50px 0;
        overflow: visible;
        .large-4{
            img{
                display: block; 
                margin-left: auto;
                margin-right: auto;
                
                @include breakpoint(small){
                    margin-bottom: 50px;
                }
                @include breakpoint(medium){
                    
                }
                @include breakpoint(large){
                    margin-bottom: 25px;
                    margin-top: -100px;
                    width: 100%;
                }
            }
        }
        .back{
            margin-top: 25px;
            padding: 25px 0;
            border-top: solid 1px $dark;
        }
    }
}